@charset "UTF-8";   

body{
    background-color: #0088f8a6;
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    ;
    box-shadow: 5px 5px 10px #0000005d;
}
footer{
    text-align: center;
    font-style: italic;
    color: #776391f6;
}
div{
    text-align: center;
    padding: 8px;
}

#flista{
    width: 150px;
  
}

